In [99]:
from datetime import datetime
from datetime import timedelta
import numpy as np
import pandas as pd

data = pd.read_csv('useful_no_solar/run_household_{}/power2016Household.csv'.format(1), usecols=[2])
data.columns = ['PowerConsumed']

In [100]:
import matplotlib.pyplot as plt
sol = pd.read_csv('useful_solar/run_household_solar_{}/power2016_solar_module.csv'.format(1), usecols=[3])
hh = pd.read_csv('useful_solar/run_household_solar_{}/power2016Household.csv'.format(1), usecols=[2])
data['prod'] = sol.values + hh.values

In [101]:
base = datetime(2016, 1, 1)
dt = [base + timedelta(minutes=x) for x in range(len(data))]
data['date'] = dt
data = data.set_index('date')

data = data[data.index > datetime(2016, 6, 1)]
data = data[data.index < datetime(2016, 7, 1)]
data
data = data.resample('D').mean()
# data[-30:].to_json()

                     PowerConsumed      prod
date
2016-06-01 00:01:00       0.000000  0.317543
2016-06-01 00:02:00       0.000000  0.317543
2016-06-01 00:03:00       0.000000  0.317543
2016-06-01 00:04:00       0.000000  0.317543
2016-06-01 00:05:00       0.000000  0.000000
2016-06-01 00:06:00       0.000000  0.000000
2016-06-01 00:07:00       0.101516  0.000000
2016-06-01 00:08:00       0.101516  0.000000
2016-06-01 00:09:00       0.101516  0.000000
2016-06-01 00:10:00       0.101516  0.000000
2016-06-01 00:11:00       0.101516  0.000000
2016-06-01 00:12:00       0.101516  0.000000
2016-06-01 00:13:00       0.101516  0.000000
2016-06-01 00:14:00       0.101516  0.000000
2016-06-01 00:15:00       0.101516  0.000000
2016-06-01 00:16:00       0.101516  0.000000
2016-06-01 00:17:00       0.101516  0.000000
2016-06-01 00:18:00       0.101516  0.000000
2016-06-01 00:19:00       0.000000  0.000000
2016-06-01 00:20:00       0.000000  0.000000
2016-06-01 00:21:00       0.000000  0.000000
2016-06-01 00:22:00       0.000000  0.000000
2016-06-01 00:23:00       0.000000  0.000000
2016-06-01 00:24:00       0.000000  0.000000
2016-06-01 00:25:00       0.000000  0.000000
2016-06-01 00:26:00       0.000000  0.000000
2016-06-01 00:27:00       0.000000  0.000000
2016-06-01 00:28:00       0.000000  0.000000
2016-06-01 00:29:00       0.000000  0.000000
2016-06-01 00:30:00       0.000000  0.000000
...                            ...       ...
2016-06-30 23:30:00       0.101516  0.225327
2016-06-30 23:31:00       0.101516  0.225327
2016-06-30 23:32:00       0.101516  0.225327
2016-06-30 23:33:00       0.101516  0.225327
2016-06-30 23:34:00       0.101516  0.225327
2016-06-30 23:35:00       0.101516  0.225327
2016-06-30 23:36:00       0.101516  0.225327
2016-06-30 23:37:00       0.101516  0.225327
2016-06-30 23:38:00       0.101516  0.225327
2016-06-30 23:39:00       0.101516  0.225327
2016-06-30 23:40:00       0.000000  0.225327
2016-06-30 23:41:00       0.000000  0.225327
2016-06-30 23:42:00       0.000000  0.225327
2016-06-30 23:43:00       0.000000  0.225327
2016-06-30 23:44:00       0.000000  0.225327
2016-06-30 23:45:00       0.000000  0.225327
2016-06-30 23:46:00       0.000000  0.225327
2016-06-30 23:47:00       0.000000  0.225327
2016-06-30 23:48:00       0.000000  0.225327
2016-06-30 23:49:00       0.000000  0.225327
2016-06-30 23:50:00       0.000000  0.225327
2016-06-30 23:51:00       0.000000  0.225327
2016-06-30 23:52:00       0.000000  0.225327
2016-06-30 23:53:00       0.000000  0.225327
2016-06-30 23:54:00       0.000000  0.225327
2016-06-30 23:55:00       0.000000  0.225327
2016-06-30 23:56:00       0.000000  0.225327
2016-06-30 23:57:00       0.000000  0.225327
2016-06-30 23:58:00       0.000000  0.225327
2016-06-30 23:59:00       0.000000  0.225327

[43199 rows x 2 columns]

In [73]:
hh

        Power consumed
0             0.000000
1             0.000000
2             0.000000
3             0.000000
4             0.000000
5             0.000000
6             0.000000
7             0.000000
8             0.000000
9             0.000000
10            0.000000
11            0.000000
12            0.000000
13            0.000000
14            0.000000
15            0.000000
16            0.000000
17            0.000000
18            0.000000
19            0.000000
20            0.000000
21            0.000000
22            0.317543
23            0.317543
24            0.317543
25            0.317543
26            0.317543
27            0.317543
28            0.317543
29            0.317543
...                ...
527010        0.000000
527011        0.000000
527012        0.000000
527013        0.000000
527014        0.000000
527015        0.000000
527016        0.000000
527017        0.000000
527018        0.000000
527019        0.000000
527020        0.000000
527021        0.000000
527022        0.000000
527023        0.000000
527024        0.000000
527025        0.000000
527026        0.000000
527027        0.000000
527028        0.000000
527029        0.000000
527030        0.000000
527031        0.000000
527032        0.000000
527033        0.000000
527034        0.000000
527035        0.000000
527036        0.000000
527037        0.000000
527038        0.000000
527039        0.000000

[527040 rows x 1 columns]